@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Luckiest+Guy&display=swap');
.NevBarTop {
  background-color: none;
  display: flex;
  top: 0;
  position: absolute;
  left: 0;
  background-color: none;
  width: 100%;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 192, 203, 0.54);
}

.NevBarTop>div:first-child {
  height: 100%;
  font-size: 40px;
  transition-duration: 0.4s;
  font-family: 'Luckiest Guy', cursive;
  position: sticky;
  top: 0;
  left: 0;
  align-self: flex-start;
  background-image: linear-gradient(to right,rgb(215, 70, 70), rgb(54, 237, 54), rgb(98, 98, 225));
  background-clip: text;
  background-size: 150%;
  -webkit-background-clip: text;
  color: transparent;
  animation: logo 4s linear infinite;
}
@keyframes logo {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.NevBarTop>div:last-child {
  background-color: nonNevBarTope;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  gap: 30px;
  padding: 0 30px 0 0;
  transition-duration: 0.4s;
}

.NevBarTop>div:last-child>* {
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.NevBarTop>div:last-child>*:hover {
  transform: rotate(10deg) scale(1.05);
  color: rgb(111, 9, 43);
}
@media only screen and (max-width: 768px) {
  /* For smaller screen: */
  .NevBarTop{
    display: block;
  }
  .NevBarTop>div:first-child{
    text-align: center;
    position: sticky;
    padding: 0px;
  }
  .NevBarTop>div:last-child{
    justify-content: space-around;
  }
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .NevBarTop{
    display: flex;
  }
}